{% extends 'index/base.html' %} {% block index %}
<section
    class="mx-4 sm:mx-8 md:mx-12 lg:mx-24 rounded-3xl overflow-hidden text-center bg-lime-300"
>
    <div class="py-20 h-full px-24">
        <h2 class="text-5xl font-bold">About Us</h2>
    </div>
</section>
<section class="mt-16 max-w-3xl mx-auto">
    <article class="prose text-justify">
        <header>
            <h1>Ridewave - Your Ultimate Car Rental Solution</h1>
        </header>
        <section>
            <h2>Welcome to Ridewave</h2>
            <p>
                Ridewave is your go-to destination for convenient and reliable
                car rentals. Whether you need a one-way trip, a round-trip
                adventure, or a car for the day, we've got you covered.
            </p>
        </section>
        <section>
            <h2>Our Services</h2>
            <p>Choose from our three flexible modes of car rental:</p>
            <ul>
                <li>
                    <strong>One-Way:</strong> Perfect for those single
                    destination journeys where you don't have to return to the
                    starting point.
                </li>
                <li>
                    <strong>Both-Way:</strong> Ideal for round trips, allowing
                    you to pick up and drop off the vehicle at the same
                    location.
                </li>
                <li>
                    <strong>Day Basis:</strong> Need a car for a day? No
                    problem! Ridewave offers daily rental options to suit your
                    schedule.
                </li>
            </ul>
        </section>
        <section>
            <h2>Why Choose Ridewave?</h2>
            <p>
                At Ridewave, we strive to make your car rental experience
                seamless and enjoyable. Here's why you should choose us:
            </p>
            <ul>
                <li>
                    Wide Range of Vehicles: From compact cars to spacious SUVs,
                    we have a diverse fleet to meet your needs.
                </li>
                <li>
                    Easy Booking: Our user-friendly website ensures a
                    hassle-free booking process.
                </li>
                <li>
                    Affordable Rates: Enjoy competitive and transparent pricing
                    with no hidden fees.
                </li>
                <li>
                    Reliable Support: Our customer support team is ready to
                    assist you 24/7.
                </li>
            </ul>
        </section>
        <section>
            <h2>Get Started Today</h2>
            <p>
                Ready to embark on your journey with Ridewave? Start by browsing
                our selection and booking your preferred car rental today.
                Experience the freedom of the open road with Ridewave!
            </p>
        </section>
    </article>
</section>

{% endblock %}
